{% extends 'main/main.html' %}
{% block main_section %}
<div class="part2 block text-center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="display-4 mt-5 font-weight-bold">Простой и удобный сервис!</h1>
      <h4 class="display-6">Делаем работу быстро и качественно!</h4>
      <br>
      <br>
      <br>
      <a class="btn btn-danger mt-5 mb-5" name="button" href = "{% url 'main-servis' %}">Посмотреть услуги</a>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
{% endblock main_section %}
